<h1>Conversations</h1>

<ul>
    <% @conversations.each do |convo| %>
        <%= link_to convo.title, conversation_path(convo) %><br>
    <% end %>
</ul>

<%= button_to "Add a Conversation", {:controller => :conversations,
    :action => 'new'}, :method => :get %>