<h1><%= @conversation.title %></h1>
<br>
<h3> Messages </h3>
<ul>
    <% @conversation.messages.each do |message| %>
        <li><%= message.text %></li>
    <% end %>
</ul>

<%= button_to "All Conversations", conversations_path, method: :get %>